.container {
    display: flex;
    flex-direction: row;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items:stretch;
    justify-content: space-around;
}

.choice-button {
    background-color: orange;
    border: 3px darkgoldenrod solid;
    border-radius: 5px;
    width: 80px;
    height: 60px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.log-container {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(50px, auto)) 20px repeat(2, minmax(50px, auto)) 1fr;
    grid-template-rows: minmax(50px, auto) 1fr;
    padding-left: 10px;
}

#player-name {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#player-score {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#pc-name {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

#pc-score {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}

.log {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
    min-width: 300px;
    max-height: 100px;
    text-align: center;
    overflow: scroll;
    line-height: 200%;
    }
